header
	{
	width: 100%;
    height: 80px;
    padding: 10px 10px;
    display: flex;
    /*background: #d35400;*/
	background: linear-gradient(to right, #d35400  0%, #e67e22 100%) repeat scroll 0% 0% transparent;
    box-shadow: 3px 3px 20px 0px rgba(142, 142, 142, 0.75);
	}
header div
	{
		display: flex;
	}
header div h1
	{
		margin: auto;
		color: #fff;
		font-family: 'Crimson Text', serif;
		font-size: 30px;
	}
.headerlogo img
	{
		width: 70px;
		height: 60px;
		margin: auto;
	}