<header>
	<div class="col-md-2">
		<div class="headerlogo">
			<img src="../../assets/images/logo.png">
		</div>
	</div>
	<div class="col-md-8">
		<h1>Purchase Automation System</h1>
	</div>
	<div class="col-md-2"></div>
</header>