<div class="row navigationbar">
		<nav class="menu-nav">
			<ul class="menu-ul">
				<li class="menu-li">
					<a href="#">
						<i class="fa fa-file-text-o" aria-hidden="true"></i>
						<p>Indent</p>
					</a>
					<!-- <a href="#">Indent</a> -->
				</li>
				<li class="menu-li">
					<a href="">
						<i class="fa fa-file-text-o" aria-hidden="true"></i>
						<p>Quote</p>
					</a>
					<!-- <a href="#">Quote</a> -->
				</li>
				<li class="menu-li">
					<a href="">
						<i class="fa fa-file-text-o" aria-hidden="true"></i>
						<p>PO</p>
					</a>
					<!-- <a href="#">PO</a> -->
				</li>
				<li class="menu-li">
					<a href="">
						<i class="fa fa-file-text-o" aria-hidden="true"></i>
						<p>MRN</p>
					</a>
					<!-- <a href="#">MRN</a> -->
				</li>
				<li class="menu-li">
					<a href="">
						<i class="fa fa-file-text-o" aria-hidden="true"></i>
						<p>Delivery</p>
					</a>
					<!-- <a href="#">Delivery</a> -->
				</li>
				<li class="menu-li">
					<a href="">
						<i class="fa fa-file-text-o" aria-hidden="true"></i>
						<p>Cashflow</p>
					</a>
					<!-- <a href="#">Cashflow</a> -->
				</li>
				<li class="menu-li">
					<a href="">
						<i class="fa fa-file-text-o" aria-hidden="true"></i>
						<p>Accounts</p>
					</a>
					<!-- <a href="#">Accounts</a> -->
				</li>
				<li class="menu-li">
					<a href="">
						<i class="fa fa-file-text-o" aria-hidden="true"></i>
						<p>Admin</p>
					</a>
					<!-- <a href="#">Admin</a> -->
				</li>
				<li class="menu-li">
					<a href="">
						<i class="fa fa-file-text-o" aria-hidden="true"></i>
						<p>Masters</p>
					</a>
					<!-- <a href="#">Masters</a> -->
				</li>
				<li class="menu-li">
					<a href="">
						<i class="fa fa-file-text-o" aria-hidden="true"></i>
						<p>Reports</p>
					</a>
					<!-- <a href="#">Reports</a> -->
				</li>
			</ul>
		</nav>
	</div>
