	.navigationbar
	{
	height: 100%;
	background: #12103D;
	padding: 10px;
	-webkit-box-shadow: 3px 3px 20px 0px rgba(142,142,142,0.75);
    -moz-box-shadow: 3px 3px 20px 0px rgba(142,142,142,0.75);
    box-shadow: 3px 3px 20px 0px rgba(142,142,142,0.75);
    text-align: center;
	}
	.menu-nav
{
	width: 100%;
}
.menu-ul
{
	padding: 0;
}
.menu-li
{
	list-style-type: none;
	color: #f1f1f1;
	font-family: 'expressway-rg';
	padding: 15px 10px;
    border-bottom: .1px solid #1e2a37;
}
.menu-li i
{
	color: #E57919;
    font-size: 30px;
    text-align: center;
}
.menu-li a
{
	color: #f1f1f1;
	font-family: 'expressway-rg';
	margin: auto 0;
	text-decoration: none;
}
.menu-li p
{
	color: #f1f1f1;
	font-family: 'expressway-rg';
	margin: auto 0;
	text-decoration: none;
	font-size: 12px;
}