.container-fluid
{
	height: 100%;
}
app-headers
{
	width: 100%;
}
.main
{
  height: calc(100% - 80px);
}
.app-navigation-bar
{
  height: 100%;
}
.app-content-bar
{
  height: 100%;
  padding: 10px;
}
.content-wrapper
{
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #fff;
    -webkit-box-shadow: 3px 3px 20px 0px rgba(142, 142, 142, 0.75);
    box-shadow: 3px 3px 20px 0px rgba(142, 142, 142, 0.75);
    overflow: auto;
}