<div class="container-fluid">
	<div class="row">
		<app-headers></app-headers>
	</div>	
	<div class="row main">
		<div class="col-md-1 app-navigation-bar">
			<app-navigation></app-navigation>
		</div>
		<div class="col-md-11 app-content-bar">
			<div class="content-wrapper">
				<h1>Hello World !!!!</h1>
			</div>
		</div>
	</div>
</div>



